In [1]:
from sentence_transformers import CrossEncoder
model = CrossEncoder("zeroentropy/zerank-1-small", trust_remote_code=True)

modeling_zeranker.py: 0.00B [00:00, ?B/s]

A new version of the following files was downloaded from https://huggingface.co/zeroentropy/zerank-1-small:
- modeling_zeranker.py
. Make sure to double-check they do not contain any added malicious code. To avoid downloading new versions of the code file, you can pin a revision.
Some weights of Qwen3ForSequenceClassification were not initialized from the model checkpoint at zeroentropy/zerank-1-small and are newly initialized: ['score.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

In [2]:
from datasets import load_dataset
train_dataset = load_dataset("sentence-transformers/all-nli", "pair-score", split="train")

In [3]:
df = train_dataset.to_pandas()

In [4]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

In [5]:
df.head(20).style.background_gradient(cmap='coolwarm')

In [6]:
df["sentence1"].nunique()

278833

In [7]:
df["sentence2"].nunique()

870511

In [8]:
dft = df.head(20).copy()

In [9]:
pairs = [(s1, s2) 
           for s1, s2 in zip(dft["sentence1"], dft["sentence2"])]

In [10]:
%%time
scores = model.predict(pairs)

`torch_dtype` is deprecated! Use `dtype` instead!

generation_config.json:   0%|          | 0.00/214 [00:00<?, ?B/s]

CPU times: user 998 ms, sys: 678 ms, total: 1.68 s
Wall time: 2.85 s

/home/cwinkler/.cache/huggingface/modules/transformers_modules/zeroentropy/zerank-1-small/c1a3613362ec55fedc26feec73ba4acf58ba3b7b/modeling_zeranker.py:190: UserWarning: Converting a tensor with requires_grad=True to a scalar may lead to unexpected behavior.
Consider using tensor.detach() first. (Triggered internally at /pytorch/torch/csrc/autograd/generated/python_variable_methods.cpp:835.)
  all_logits.extend([float(logit) / 5.0 for logit in yes_logits])

In [11]:
dft["scores"] = scores

In [12]:
dft.style.background_gradient(cmap='coolwarm')